<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.ej.dao.extend.OrderExtendMapper">

    <select id="selectById" resultMap="orderExtendResultMap">
        select
        o.id as o_id,
        o.order_time,
        o.total,
        o.customer_id,
        o.status,
        o.waiter_id,
        o.address_id,
        c.id as c_id,
        c.realname as c_realname,
        c.telephone as c_telephone,
        w.id as w_id,
        w.realname as w_realname,
        w.telephone as w_telephone,
        a.id as a_id,
        a.province,
        a.city,
        a.area,
        a.address,
        a.telephone
        from ej_order o
        left join base_user c
        on o.customer_id = c.id
        left join base_user w
        on o.waiter_id = w.id
        left join ej_address a
        on o.address_id = a.id
        WHERE o.id = #{id}
    </select>
    <!--<select id="queryPage" resultType="com.briup.apps.ej.bean.Order">-->
    <select id="queryPage" resultMap="com.briup.apps.ej.dao.OrderMapper.BaseResultMap">
        select *
        from ej_order As o
        <where>
            <if test="order.orderTime != null">
                o.order_time  like concat('%',#{order.orderTime},'%')
            </if>
            <if test="order.total != null">
                AND o.total like concat('%',#{order.total},'%')
            </if>
            <if test="order.status != null">
                AND o.status like concat('%',#{order.status},'%')
            </if>
            <if test="order.customerId != null">
                AND o.customer_id = #{order.customerId}
            </if>
        </where>
        order by order_time DESC
        limit ${page*pageSize},${pageSize}
    </select>
    <select id="count" resultType="long">
        select count(*)
        from ej_order AS o
        <where>
            <if test="order.orderTime != null">
                o.order_time  like concat('%',#{order.orderTime},'%')
            </if>
            <if test="order.total != null">
                AND o.total like concat('%',#{order.total},'%')
            </if>
            <if test="order.status != null">
                AND o.status like concat('%',#{order.status},'%')
            </if>
            <if test="order.customerId != null">
                AND o.customer_id = #{order.customerId}
            </if>
        </where>
    </select>
  <select id="queryBasic" resultMap="orderVMResultMap">
    select
        o.id as o_id,
        o.total as total,
        o.order_time as orderTime,
        c.realname as customerName,
        w.realname as waiterName,
        a.city as address
    from ej_order o
      left join ej_customer c
      on o.customer_id = c.id
      left join ej_waiter w
      on o.waiter_id = w.id
      left join ej_address a
      on o.address_id = a.id
    <where>

      <if test="customerId!=null">
        AND c.id = #{customerId}
      </if>
      <if test="waiterId != null">
        AND w.id = #{waiterId}
      </if>
    </where>
    order by o.order_time DESC
  </select>
  <resultMap id="orderVMResultMap" type="com.briup.apps.ej.bean.vm.OrderVM">
    <id column="o_id" jdbcType="BIGINT" property="orderId" />
    <result column="customerName" property="customerName" />
    <result column="waiterName"  property="waiterName" />
    <result column="address"  property="address" />
    <result column="total"  property="total" />
    <result column="orderTime"  property="orderTime" />
  </resultMap>

  <!--id,orderTime,total,cutomer_id,waiter_id,address_id-->
  <select id="query" resultMap="orderExtendResultMap">
    select
        o.id as o_id,
        o.order_time,
        o.total,
        o.customer_id,
        o.status,
        o.waiter_id,
        o.address_id,
        c.id as c_id,
        c.realname as c_realname,
        c.telephone as c_telephone,
        w.id as w_id,
        w.realname as w_realname,
        w.telephone as w_telephone,
        a.id as a_id,
        a.province,
        a.city,
        a.area,
        a.address,
        a.telephone
	from ej_order o
	left join base_user c
	on o.customer_id = c.id
	left join base_user w
	on o.waiter_id = w.id
	left join ej_address a
	on o.address_id = a.id
    <where>
      <if test="customerId!=null">
        AND o.customer_id = #{customerId}
      </if>
      <if test="waiterId != null">
        AND o.waiter_id = #{waiterId}
      </if>
      <if test="status != null">
        AND o.status like concat('%',#{status},'%')
      </if>
    </where>
    order by o.order_time DESC
  </select>

  <resultMap
          id="orderExtendResultMap"
          type="com.briup.apps.ej.bean.extend.OrderExtend">
    <!--基本属性的映射已经继承了-->
    <id column="o_id" jdbcType="BIGINT" property="id" />
    <result column="order_time" jdbcType="BIGINT" property="orderTime" />
    <result column="total" jdbcType="DOUBLE" property="total" />
    <result column="status" property="status" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="waiter_id" jdbcType="BIGINT" property="waiterId" />
    <result column="address_id" jdbcType="BIGINT" property="addressId" />
    <!--还有四个关联属性-->
    <association property="customer" javaType="com.briup.apps.ej.bean.Customer">
      <id column="c_id" jdbcType="BIGINT" property="id" />
      <result column="c_telephone" jdbcType="VARCHAR" property="telephone" />
      <result column="c_realname" jdbcType="VARCHAR" property="realname" />
    </association>
    <association property="waiter" javaType="com.briup.apps.ej.bean.Waiter">
      <id column="w_id" jdbcType="BIGINT" property="id" />
      <result column="w_telephone" jdbcType="VARCHAR" property="telephone" />
      <result column="w_realname" jdbcType="VARCHAR" property="realname" />
    </association>
    <association property="address" javaType="com.briup.apps.ej.bean.Address">
      <id column="a_id" jdbcType="BIGINT" property="id" />
      <result column="province" jdbcType="VARCHAR" property="province" />
      <result column="city" jdbcType="VARCHAR" property="city" />
      <result column="area" jdbcType="VARCHAR" property="area" />
      <result column="address" jdbcType="VARCHAR" property="address" />
      <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    </association>
    <collection property="orderLines"  column="o_id" select="com.briup.apps.ej.dao.extend.OrderLineExtendMapper.selectByOrderId"></collection>
  </resultMap>
</mapper>
